.jumbotron {
    background-color: #00c9ac;
    color: white;
    margin-top: 50px;
    margin-left: 0px;
    border-radius: 0px;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

.container-image{
    padding-left: 0px;
    padding-right: 0px; 
    margin-left: 0px;
    margin-right: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:#00c9ac;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;

}
h2,h3,h4,h5 {
    color: #7c7cea;
}
.btn{
    background-color: #7c7cea;
    border:none;
    border-radius: 4px;
    color:white;
}
.card-header-tarjeta{
    background-color: #7c7cea;

}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    border: 1px solid #7c7cea;
    padding-left: 0!important;
    padding-right: 0!important;
}

.breadcrum-margin{
    padding-top: 30px;
}

.btn-reservar{
    width: 100%;
}
.btn-reservado{
    background-color: red;
    width: 100%;
}
.btn-contacto{
    width: 100%;
    background-color:coral;
}

.row-gap{
    gap: 5px;
}

.header-hoteles{
    padding: 0!important;
}
.pull-right{
    float:right;
}
td,th{
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
.oi-map-marker  {
    color: blue;
    padding-right: 5px;
}

.height-section-about{
    min-height: 65vh;
}

.height-section-precios{
    min-height: 75vh;
}

body{
    background-color: darkslategrey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card-carousel{
    background-color: rgba(126, 64, 248, 0.4);
}

a{
    color: white!important;
}