//$fondo-botones-textos: #7c7cea;
//$fondo-botones-textos: #f57118;
$fondo-botones-textos: #991818;
//$fondo-jumbotron-footer: #00c9ac;
//$fondo-jumbotron-footer: #505595;
$fondo-jumbotron-footer: #ff5f15;
//$fondo-jumbotron-footer: #40884c;
//$contacto: #2ca5f6;
$contacto: #277249;

$rojo:  #c73b3b;
$amarillo:  #f5e61b;
$verde:  #45e952;

@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $fondo-jumbotron-footer;
    color: white;
    margin-top: 50px;
    margin-left: 0px;
   /*  @include margenes(50px); */
    border-radius: 0px;
}
thead{
    background-color: $fondo-botones-textos;
    color: white;

}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

.container-image{
    padding-left: 0px;
    padding-right: 0px; 
    margin-left: 0px;
    margin-right: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:$fondo-jumbotron-footer;
    /* margin-bottom: 0px;
    margin-top: 10px; */
    @include margenes(10px, 0px);
    color: white;

}
h2,h3,h4,h5 {
    color:$fondo-botones-textos;
}
.btn{
    background-color: $fondo-botones-textos;
    border:none;
    border-radius: 4px;
    color:white;
}
.card-header-tarjeta{
    background-color:$fondo-botones-textos;

}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    border: 1px solid $fondo-botones-textos;
    padding-left: 0!important;
    padding-right: 0!important;
}

.breadcrum-margin{
    padding-top: 30px;
}

.btn-reservar{
    width: 100%;
}
.btn-reservado{
    background-color: red;
    width: 100%;
}
.btn-contacto{
    width: 100%;
    // background-color:coral;
    background-color: $contacto;
}

.row-gap{
    gap: 5px;
}

.header-hoteles{
    padding: 0!important;
}
.pull-right{
    float:right;
}
td,th{
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
.oi-map-marker  {
    color: blue;
    padding-right: 5px;
}

.height-section-about{
    min-height: 65vh;
}

.height-section-precios{
    min-height: 75vh;
}

body{
    background-color: darkslategrey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card-carousel{
    background-color: rgba(126, 64, 248, 0.4);
}

.a-footer{
    color: white!important;
}

.font-weight-light{
    color: black!important;
    font-size: 1rem!important;
}

