// $lightViolet: #7c7cea;
@lightViolet: #f57118;
// $aquamarine: #00c9ac;
@aquamarine: #505595;
@contacto: #9ef62c;

.margenes(@top : 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @aquamarine;
    color: white;
    margin-top: 50px;
    margin-left: 0px;
    .margenes(50px);
    border-radius: 0px;
}
thead{
    background-color: @lightViolet;
    color: white;

}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

.container-image{
    padding-left: 0px;
    padding-right: 0px; 
    margin-left: 0px;
    margin-right: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:@aquamarine;
    /* margin-bottom: 0px;
    margin-top: 10px; */
    .margenes(10px, 0px);
    color: white;

}
h2,h3,h4,h5 {
    color:@lightViolet;
}
.btn{
    background-color: @lightViolet;
    border:none;
    border-radius: 4px;
    color:white;
}
.card-header-tarjeta{
    background-color:@lightViolet;

}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    border: 1px solid @lightViolet;
    padding-left: 0!important;
    padding-right: 0!important;
}

.breadcrum-margin{
    padding-top: 30px;
}

.btn-reservar{
    width: 100%;
}
.btn-reservado{
    background-color: red;
    width: 100%;
}
.btn-contacto{
    width: 100%;
    // background-color:coral;
    background-color: @aquamarine;
}

.row-gap{
    gap: 5px;
}

.header-hoteles{
    padding: 0!important;
}
.pull-right{
    float:right;
}
td,th{
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
.oi-map-marker  {
    color: blue;
    padding-right: 5px;
}

.height-section-about{
    min-height: 65vh;
}

.height-section-precios{
    min-height: 75vh;
}

body{
    background-color: darkslategrey;
}

.card-carousel{
    background-color: rgba(126, 64, 248, 0.4);
}
